<html>
    <body>
        <h2>New poll</h2>
        <form method="post" action="new" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="title">Title:</label>
            <input id="title" type="text" name="title">
            <br><br>
            <label for="desc">Description:</label>
            <textarea id="desc" name="description" cols="40" rows="5"></textarea>
            <br><br>
            <label for="ch1">Choice 1:</label>
            <input id="ch1" type="text" name="choice1">
            <br><br>
            <label for="ch1">Choice 1:</label>
            <input id="ch2" type="text" name="choice2">
            <br><br>
            <label for="ch1">Choice 1:</label>
            <input id="ch3" type="text" name="choice3">
            <br><br>
            <input type="submit" value="Add poll">
        </form>
    </body>
</html>